<header class="s-topbar">
  <div class="s-topbar--container">
    <a class="s-topbar--menu-btn"
       aria-controls="popover-nav"
       data-controller="s-popover"
       data-action="s-popover#toggle"
       data-s-popover-placement="bottom-start"
       data-s-popover-toggle-class="is-selected"
       [ngClass]="{'d-none md:d-flex' : isMainLayout}"
       [class.is-selected]="menuOpen"
       (click)="onClickMenu()"><span></span></a>
    <ol class="s-topbar--content">
      <li *ngIf="isLoggedIn">
          <a class="s-topbar--item">
            <a class="s-avatar s-avatar__24 bg-theme-primary"
                 aria-controls="popover-profile"
                 data-controller="s-popover"
                 data-action="s-popover#toggle"
                 data-s-popover-placement="bottom-end"
                 data-s-popover-toggle-class="is-selected"
                 aria-hidden="true">
              <div class="s-avatar--letter">{{user.displayName[0]}}</div>
            </a>
          </a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a class="s-topbar--item s-topbar--item__unset s-btn s-btn__filled" (click)="onClickLogin()">登入</a>
      </li>
    </ol>
  </div>
  <div class="s-popover"
       id="popover-nav"
       role="menu">
    <div class="s-popover--arrow"></div>
    <app-side-nav></app-side-nav>
  </div>
  <div *ngIf="user" class="s-popover"
       id="popover-profile"
       role="menu">
    <div class="s-popover--arrow"></div>
    <app-profile-menu [user]="user" (editUser)="onUserEdit($event)"></app-profile-menu>
  </div>
</header>
