<div *ngIf="poll" class="d-flex fd-column">
  <div class="d-flex fd-column mb16">
    <app-user-avatar [createdBy]="poll.createdBy"></app-user-avatar>
    <div class="fs-headline1">{{poll.title}}</div>
    <span class="fc-black-500">{{poll.createdTime | datetimeAgo}}</span>
  </div>
  <div class="d-flex fd-column mb12">
    <div *ngFor="let option of poll.options; let i = index" class="d-flex fd-column g2 mb12">
      <div class="option" (click)="onClickOption(option)"
           [class.is-selected]="option === selectedOption">
        <div class="option--label">
          <div class="d-flex ai-center g4">
            <span *ngIf="isSelected && option.votes === mostVote" class="svg-icon-bg iconAchievements fc-gold-darker"></span>
            {{option.number}}. {{option.name}}
          </div>
          <div *ngIf="isSelected" class="fs-caption">{{option.votes}}</div>
        </div>
        <div *ngIf="isSelected" class="option--bar" [ngStyle]="{'width': option.votes | votePercent: totalVotes}"></div>
      </div>
      <div class="d-flex fd-row">
        <span class="fs-caption fc-black-500 option--meta-split">{{option.createdBy}}</span>
        <span class="fs-caption fc-black-500">{{option.createdTime | datetimeAgo}}</span>
      </div>
    </div>
    <div class="option new">
      <div class="option--label fc-black-600" (click)="onClickNewOption()">新增選項</div>
    </div>
  </div>
  <div class="icons-container">
    <div *ngFor="let react of reactType" class="icon-container">
      <span class="svg-icon-bg react-icon"
            [ngClass]="{'LIKE' : 'iconThumbsup', 'DISLIKE' : 'iconThumbsdown'}[react]"
            [class.native]="react === userReact"
            (click)="onClickReact(react)"></span>
      {{poll.reactCount[react]}}
    </div>
  </div>
  <div *ngIf="comments" class="d-flex fd-column mt24">
    <div class="d-flex mb8">
      <div class="fs-body2 fl-grow1">{{comments.length}} 則留言</div>
    </div>
    <form [formGroup]="commentForm" class="d-flex fd-column g4 mb12" (ngSubmit)="onClickComment()">
      <div class="d-flex ai-center">
        <label class="s-label fs-body1">匿名</label>
        <div class="flex--item s-toggle-switch">
          <input type="checkbox" formControlName="anonymous">
          <div class="s-toggle-switch--indicator"></div>
        </div>
      </div>
      <div class="d-flex g8 ai-start">
        <div class="fl-grow1" [class.has-error]="commentBody.invalid && isSubmitComment">
          <input class="s-input" placeholder="發表留言" formControlName="comment"/>
          <p *ngIf="isSubmitComment && (commentBody.hasError('required') || commentBody.hasError('onlyWhiteSpace'))" class="flex--item s-input-message">留言不得空白</p>
          <p *ngIf="isSubmitComment && commentBody.hasError('maxlength')" class="flex--item s-input-message">留言不得超過200字</p>
        </div>
        <button class="s-btn s-btn__sm s-btn__outlined" type="submit">留言</button>
      </div>
    </form>
    <div class="flex--item mb8 d-flex fd-column" *ngFor="let comment of comments">
      <div class="d-flex fd-row jc-space-between">
        <div class="d-flex fd-column">
          <div *ngIf="!comment.anonymous" class="d-flex ai-start g4">
            <app-user-avatar [createdBy]="comment.createdBy"></app-user-avatar>
            <div *ngFor="let vote of comment.votes" class="vote-number ps-relative t4">{{vote}}</div>
          </div>
          <div *ngIf="comment.anonymous" class="d-flex fd-row ai-center g4 mb4">
            <div class="s-avatar s-avatar__24 bg-blue-500">
              <span class="svg-icon-bg iconPerson fc-white"></span>
            </div>
            <div class="fs-body1 fw-bold">匿名</div>
          </div>
          <div class="fs-body1">{{comment.body}}</div>
        </div>
        <div *ngIf="comment.editable">
          <a class="fc-black c-pointer"
                aria-controls="popover-comment-menu"
                aria-expanded="false"
                data-controller="s-popover"
                data-action="s-popover#toggle"
                data-s-popover-placement="bottom-end"
                data-s-popover-toggle-class="is-selected">
            <span class="svg-icon-bg iconEllipsisVertical"></span>
          </a>
          <div class="s-popover s-popover__tooltip"
               id="popover-comment-menu"
               role="menu">
            <div class="s-popover--arrow"></div>
              <ul class="s-menu" role="menu">
                <li role="menuitem">
                  <a class="s-block-link" (click)="deleteComment(comment.id)">刪除</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
