<app-topbar-header
  [isMainLayout]="false">
</app-topbar-header>
<div class="d-flex jc-center bg-black-050 ps-relative t48 h100">
  <div class="d-flex fd-column ai-stretch px12 create-poll-content">
    <h1 class="py24 mb0">投票單</h1>
    <div class="s-card">
      <form [formGroup]="form" (ngSubmit)="onClickCreate()">
        <div class="d-flex fd-column">
          <div class="d-flex gs4 fd-column my8" [ngClass]="{'has-error' : isSubmitted && title.invalid}">
            <div class="flex--item">
              <label class="d-block s-label">
                問題
                <p class="s-description mt2">投票的問題</p>
              </label>
              <div class="d-flex fd-column ps-relative">
                <input class="flex--item s-input" type="text" formControlName="title"/>
                <p *ngIf="isSubmitted && title.invalid" class="flex--item s-input-message">標題不得少於3個字</p>
              </div>
            </div>
          </div>
          <div class="d-flex gs4 fd-column my8">
            <div class="flex--item">
              <div class="d-flex" [ngClass]="{'has-error' : isSubmitted && isSubmitted && options.hasError('minLengthArray')}">
                <label class="d-block s-label">
                  選項
                </label>
                <p *ngIf="isSubmitted && options.hasError('minLengthArray')" class="flex--item s-input-message">選項不得少於兩個</p>
              </div>
              <div class="d-grid grid__2">
                <div class="grid--item d-flex fd-column ps-relative gs8 mt2" formArrayName="options">
                  <div *ngFor="let option of options.controls; let optionIndex = index" class="d-flex fd-column" [ngClass]="{'has-error' : isSubmitted && option.invalid}">
                    <div class="d-flex" [formGroupName]="optionIndex">
                      <div class="flex--item s-input-fill order-first d-flex ai-center">{{optionIndex+1}}.</div>
                      <input class="flex--item s-input blr0" type="text" placeholder="輸入選項" formControlName="option"/>
                      <span class="svg-icon-bg iconClearSm option--dismiss" (click)="onDismissOption(optionIndex)"></span>
                    </div>
                    <p *ngIf="isSubmitted && option.invalid" class="flex--item s-input-message">選項不得空白</p>
                  </div>
                  <div class="d-flex">
                    <button class="s-btn s-btn__xs s-btn__outlined s-btn__muted" type="button" (click)="addOption()">新增選項</button>
                  </div>
                </div>
                <div *ngIf="false" class="grid--item d-flex fd-column gs5 ml32">
                    <div class="flex--item">
                      <div class="d-flex gs8 gsx">
                        <div class="flex--item">
                          <input class="s-checkbox" type="checkbox" formControlName="multiVote"/>
                        </div>
                        <label class="flex--item s-label fw-normal">多選</label>
                      </div>
                    </div>
                    <div class="flex--item">
                      <div class="d-flex gs8 gsx">
                        <div class="flex--item">
                          <input class="s-checkbox" type="checkbox"  formControlName="allowNewOption"/>
                        </div>
                        <label class="flex--item s-label fw-normal">人民新增選項</label>
                      </div>
                    </div>
                </div>
             </div>
            </div>
          </div>
          <div class="d-flex fd-row ai-center jc-end">
            <button class="s-btn s-btn__primary" type="submit">發起投票</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
