<div class="d-flex fd-column">
  <div class="s-page-title">
    <div class="s-page-title--text">
      <h1 class="s-page-title--header">什麼刀最長</h1>
    </div>
  </div>
    <div class="d-flex fd-column mt24 mb12">
      <div *ngFor="let option of options; let i = index" class="option mb12"
           [ngClass]="{'champion' : i === 0, 'is-selected': option.isSelected }"
      >
        <div class="option--label">
          <div>{{option.number}}. {{option.name}}</div>
          <div class="fs-caption">{{option.vote}}</div>
        </div>
        <div class="option--bar" [ngStyle]="{'width': getPercentWidth(option.vote)}"></div>
      </div>
      <div class="option new">
        <div class="option--label fc-black-600">新增選項</div>
    </div>
  </div>
  <div class="icons-container">
    <div class="icon-container">
      <span class="svg-icon-bg iconThumbsup react-icon native"></span>
      1349
    </div>
    <div class="icon-container">
      <span class="svg-icon-bg iconThumbsdown react-icon"></span>
      10
    </div>
  </div>
  <div class="d-flex fd-column mt24">
    <div class="d-flex mb12">
      <div class="fs-body2 fl-grow1">12 則留言</div>
    </div>
    <div class="d-flex gs8 ai-center mb12">
      <div class="flex--item fl-grow1">
        <input class="s-input" placeholder="發表留言"/>
      </div>
      <div class="flex--item d-flex fd-row">
        <button class="s-btn  s-btn__sm	 s-btn__outlined s-btn__muted" type="button">留言</button>
      </div>
    </div>
    <div class="flex--item mb16" *ngFor="let comment of comments">
      <div class="d-flex g8">
        <div class="flex--item d-flex fd-column ai-center g2">
          <div class="s-avatar s-avatar__24 bg-theme-primary">
            <div class="s-avatar--letter" aria-hidden="true">{{comment.user[0]}}</div>
          </div>

        </div>
        <div class="flex--item d-flex fd-column g4">
          <div class="flex--item d-flex g4">
            <div class="fs-body1 fw-bold mr8">{{comment.user}}</div>
            <div *ngFor="let vote of comment.options" class="vote-number">{{vote}}</div>
          </div>
          <div class="fs-body1">{{comment.comment}}</div>
          <div class="icons-container">
            <div class="icon-container">
              <span class="svg-icon-bg iconThumbsup comment-react react-icon"></span>
              1349
            </div>
            <div class="icon-container">
              <span class="svg-icon-bg iconThumbsdown  comment-react react-icon native"></span>
              10
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
