<div class="d-flex flex__center h-screen bg-black-050">
  <div class="d-flex fd-column flex__fl-grow1 gs8 wmx3">
      <button class="flex--item s-btn s-btn__icon s-btn__google" (click)="googleLogin()">
        <span class="svg-icon-bg iconGoogle native"></span>
        使用 Google 帳號登入
      </button>
<!--      <button class="flex&#45;&#45;item s-btn s-btn__icon s-btn__facebook">-->
<!--        <span class="svg-icon-bg iconFacebook"></span>-->
<!--        使用 Facebook 帳號登入-->
<!--      </button>-->
  </div>
</div>
