<app-topbar-header
  [isMainLayout]="true">
</app-topbar-header>
<div class="d-flex jc-center mx-auto w100 wmx12">
  <div class="flex--item fl-shrink0 ws2 md:w-auto md:d-none">
    <div class="bg-white ps-fixed ws2 t64 b0 fs-body1 py12 sm:w100">
      <app-side-nav></app-side-nav>
    </div>
  </div>
  <main class="d-flex fl-grow1 wmx6 ps-relative tp64 py24 pl24 md:pl24 sm:pl16 sm:pr16 main-border-left">
    <div class="flex--item fl-grow1">
      <router-outlet></router-outlet>
    </div>
  </main>
  <div class="flex--item order-last ml32 sm:d-none" style="width: 14rem;">
  </div>
</div>
